html { font-size: 62.5%; }

body{
    background-color: rgb(230, 163, 189);
    font-family: 'Poppins', sans-serif;
  
    overflow-y: hidden;
    overflow-x: hidden;
}
.heading{
    text-align: center;
    font-size: 4.6rem;
    margin-bottom: 3.2rem;
    font-weight: 800;
}


.result{
    display: flex;
    justify-content: space-around;
   
    font-size: 1.8rem;
    margin-bottom: 5.2rem;

}
.game{
    margin-top: 2rem;
}
.head{
    font-size: 2.4rem;
    text-align: center;
}
.options{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
}
.imgs{
   height: 7rem;
   width: auto;
  cursor: pointer;
 transition: all 0.1s;
   
}
.imgs:hover{
    transform: scale(1.4);
}
.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    row-gap: 1.2rem;
    font-weight: 700;
}
.outcome{
    height: 3rem;
}
#y-c{
    color: blue;
    font-weight: 700;
}
.result div{
    width: auto;
}
#comp{
    color: red;
    font-weight: 700;
 
}
#outcome{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    height: 3.2rem;
    transition: all 0.2s;
}

.score-card{
    text-align: center;
    font-size: 3.2rem;
    font-weight: 800;
}
#score{
    font-weight: 700;
}
#score-result-p{
    font-weight: 700;
    font-size: 2.4rem;
    padding-left: 2.4rem;
}
#score-result-c{
    font-weight: 700;
    font-size: 2.4rem;
    padding-left: 2.4rem;
}
.score-result{
    text-align: center;
}